$desktop: max-width em(990) 12 !default;
$cinema: max-width em(1400) 12 !default;
$iphoneP: max-width em(480) 4 !default;
$mobile: max-width em(640) 4 !default;
$tabletP: max-width em(768) 12 !default;
$tabletL: max-width em(1024) 12 !default; 

$gtDesktop: min-width em(991) 12 !default;
$gtCinema: min-width em(1401) 12 !default;
$gtiphoneP: min-width em(481) 4 !default;
$gtMobile: min-width em(641) 12 !default;
$gtTabletP: min-width em(791) 12 !default;
$gtTabletL: min-width em(1025) 12 !default;

$tabletPH: max-height em(768) 4 !default;
$gtTabletPH: min-height em(769) 4 !default;

$bodyColor: #5189B2;
$mainTextColor: #edf3f7;
$navColor: #203647;
$trColor: #192b38;
$buttonColor: #182935;
$inputTextColor: #2f3031;
$testBorder: 1px solid red;