@import 'bourbon/bourbon';
@import 'base/base';
@import 'neat/neat';
@import 'myVariables';

* {
    // border: $testBorder;
}
body {
    background: $bodyColor;
}
header {
    @include outer-container;
    h1 {
        font-size: 2.25em;
        @include media($mobile) {
            font-size: 1.5em;
        }
        @include media($gtTabletP) {
            font-size: 3em;
        }
        text-align: center;
    }
    img {
        height: 5em;
        width: 5em;
        @include shift(5);
    }
}
main {
    font-family: $helvetica;
    color: $mainTextColor;
    #newItem {
        @include outer-container;
        input {
            @include span-columns(3.25);
            @include shift(0.5);
            color: $inputTextColor;
        }
    }
    #buttons {
        text-align: center;
    }
    nav {
        margin: 2em auto;
        button {
            background: $buttonColor;
        }
        #submit {
            @include media($mobile) {
                @include shift(1);
            }
        }
        #reset {
        }
    }
}
#displayList {
    margin-bottom: 2em;
    @include outer-container;
    thead {
        @include shift(1);
        @include outer-container;
    }
    tbody {
        @include shift(1);
        @include outer-container;
        tr {
            background: lighten($trColor, 5%);
        }
        tr:nth-child(even) {
            background: darken($trColor, 5%);
        }
    }
    th, td {
        @include shift(4);
        padding-left: 2em;
        text-align: center;
    }
    tfoot {
        margin-top: 3em;
        tr.move {
           background: $doneItemColor !important;
        }
    }
}
footer {
    text-align: center;
    h3 {
        margin: 0 auto;
    }
}